ul(class="pagination-cnt")
    div(class="pagination-cnt__arrow left")
        img(src="images/angle-left-solid.svg" alt="arrow-left")
        
    li(class="pagination-cnt__page") 1
    li(class="pagination-cnt__page active") 2
    li(class="pagination-cnt__page") 3
    li(class="pagination-cnt__page") 4
    li(class="pagination-cnt__dots") ...
    li(class="pagination-cnt__page") 8

    div(class="pagination-cnt__arrow right")
        img(src="./images/angle-right-solid.svg" alt="arrow-right")