html(lang="en")
    include partials/head.pug

    body 
        div(class="container")
            include partials/navbar.pug
            include partials/login_panel.pug
        include partials/footer.pug
        