doctype html
html(lang="en")
    include partials/head.pug

    body 
        div(class="container")
            include partials/navbar.pug
            p We're working on that
            a(href="/user/dashboard") Back to Dashboard

        include partials/footer.pug
        