section(id="home_section")
    div(class="main_panel main_panel--home")
        h2(class="main_panel__text") 
            |Hello to the flashCards.
            br
            |Login to your account and start learning with daily repetitions.