nav(class="navigation")
        div(class="navigation__logo")
          a(href="/")
            img(class="logo" src="/images/Logo.svg" alt="flashCards logo")
        

        ul(class="navigation__list")
          li(class="navigation__list__item item-1") 
            a(href="/login") sign in
          li(class="navigation__list__item item-2")
            a(href="/register") sign up             
       

        div(class="navigation__burger")
          span(class="navigation__burger__line line-1")
          span(class="navigation__burger__line line-2")
          span(class="navigation__burger__line line-3")