.main_panel {
  &__add {
    @include setFlexbox(flex, space-between, center);
    width: 100%;
    max-width: 900px;
    min-height: 50px;
    padding: 0 20px;

    &__text {
      margin: 0;
      transition: 0.3s;
      &--msg {
        &.added {
          color: $bs_green;
          font-size: 18px;
        }
        &.edit {
          color: $bs_orange;
          font-size: 18px;
        }
        &.delete {
          color: $bs_red;
          font-size: 18px;
        }
      }
    }
    &__icon {
      position: relative;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: $bs_green;
      border-radius: 50%;
      transition: transform 0.3s ease-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &.edit {
        background-color: $bs_orange;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__form {
    &.expanded {
      height: auto;
      max-height: 600px;
      transition: max-height 0.5s ease-out;
    }

    &__label {
      &.error {
        color: $bs_red;
      }

      &.warning {
        color: $bs_orange;
      }

      &[for="checkboxes-cnt"] {
        margin-top: 20px;
        margin-bottom: 8px;
      }
    }

    &__input {
      &--category {
        width: 50%;
        min-height: unset;
        height: 20px;
      }

      &.error {
        border-color: $bs_red;
      }
    }

    &__checkboxes-cnt {
      @include setFlexbox(flex, space-between, center);
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 15px;

      label {
        margin: 0 15px;
        font-size: 12px;
        width: 10%;
      }

      input {
        margin-left: auto;
        vertical-align: text-bottom;
        float: right;

        &:last-of-type {
          margin-right: 0;
        }
      }
      &::after {
        content: "";
        flex: auto;
      }
    }

    .btn {
      display: block;
      margin: 10px 0 10px auto;
      font-size: 14px;

      &.edit {
        background-color: $bs_orange;
        border-color: $bs_orange;
      }
    }
  }
}
