.cards_cnt {
  flex: 1 0 0;
  @include setFlexbox(flex, space-between, flex-start);
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
  font-size: 13px;
  text-align: center;

  &::after {
    content: "";
    flex: auto;
  }

  &__card {
    position: relative;
    @include setFlexbox(flex, center, center);
    flex: 0 0 147px;
    flex-direction: column;
    height: 89px;
    perspective: 1000px;
    margin: 0 10px 10px 0;
    animation: slide-up 0.4s ease;

    &:hover &__inner {
      transform: rotateY(180deg);
      cursor: pointer;
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      border: 1px solid #000;
      border-radius: 5px;

      &__side {
        @include setFlexbox(flex, center, center);
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &.front {
          background-color: $white;
          border-radius: 5px;
        }
        &.back {
          background-color: $dark;
          color: $white;
          transform: rotateY(180deg);
          border-radius: 5px;
        }

        &__text {
          margin-bottom: 0;
        }

        &__edit-panel {
          @include setFlexbox(flex, space-around, center);
          background-color: #fff;
          width: 100%;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;

          &.expanded {
            height: auto;
            max-height: 25px;
            transition: max-height 0.3s ease-out;
          }
          span {
            position: relative;
            width: 35px;
            height: 35px;
            margin: 0 5px;

            &:first-of-type {
              &:hover {
                img {
                  transform: translate(50%, 50%) scale(1.1);
                  filter: invert(67%) sepia(97%) saturate(620%)
                    hue-rotate(353deg) brightness(104%) contrast(102%);
                }
              }
            }
            &:last-of-type {
              &:hover {
                img {
                  transform: translate(50%, 50%) scale(1.1);
                  filter: invert(37%) sepia(84%) saturate(5240%)
                    hue-rotate(338deg) brightness(91%) contrast(88%);
                }
              }
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 50%;
              height: 50%;
              transform: translate(50%, 50%);
              transition: transform 0.3s ease-out, filter 0.1s ease-out;
            }
          }
        }
      }
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
