.cards_cnt {
  flex: 2 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;

  &__card {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 89px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #000;
    border-radius: 5px;

    &__text {
      margin-bottom: 0;
    }
  }
}
