* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
body {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
