// Colors
$dark: #000;
$white: #fff;
$bs_green: #5cb85c;
$bs_red: #dc3545;

// Fonts
$main-font: "Lato", sans-serif;

// Mixins

@mixin setFlexbox($display, $justifyContent, $alignItems) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
